*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
}

.hero{
  position:relative;
  width:100vw;
  height:100vh;
}

.video-container{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition:1.2s ease;
}

.video-container iframe{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  border:none;
}

/* BOUTON */
.big-button{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  z-index:2;
  cursor:pointer;
  overflow:hidden;
}

.panel{
  position:absolute;
  width:150%;
  height:150%;
   background-image: url("https://resizing.flixster.com/yHTn1HD6I8cGTuRzdufqmd-nhXM=/fit-in/705x460/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p14914586_i_h10_aa.jpg");
  transition:1.2s cubic-bezier(.77,0,.18,1);
}

.left{
  top:-25%;
  left:-75%;
  transform:rotate(-20deg);
  background-color: #6E4728;
}

.right{
  top:-25%;
  right:-75%;
  transform:rotate(-20deg);
 
}

.play{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:120px;
  color:white;
  z-index:3;
  transition:0.5s;
}

.open .left{
  transform:rotate(-20deg) translateX(-120%);
}

.open .right{
  transform:rotate(-20deg) translateX(120%);
}

.open .play{
  opacity:0;
  transform:translate(-50%,-50%) scale(0.5);
}

.open + .video-container{
  opacity:1;
}
