 
*{
  margin: 0;
  padding: 0;
}
/* ______section 1_____ */
 main {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg\ 1\ histoire.png");  
  background-attachment:fixed ;
  background-repeat: no-repeat; 
  font-family: Georgia, 'Times New Roman', Times, serif;    
  background-size: cover;            
}
.histoire h1{
  font-size: 80px;
  color: white;
  padding: 15% 10% 0% 10%;
}
h1 span{
  color: #9F1E16;
}
.histoire p{
  color: white;
  padding-left: 10%;
  font-size: 35px;
}
.histoire button{
  width: 150px;
  margin: 2% 20%;
  cursor: pointer;
  background-color: #9F1E16;
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  border: 1px solid transparent;
   border-radius: 50px;
   font-size: 20px;
   color: white;
}
.histoire button:hover{
  background-color: rgb(159, 30, 22,0.7);
}
.histoire button:active{
  background-color: #9F1E16;
}
.stat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:transparent;
  margin: 5% 0% 0% 0%;
  padding: 0% 10%;
}
.stat div{
  width: 500px;
  border-style: solid;
  border-color: #9F1E16;
  border-width: 1px 1px 1px 0px;
  text-align: center;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#derniere{
  border-style: solid;
  border-color: #9F1E16;
  border-width: 1px 0px 1px 1px;
}
.stat p{
  font-size: 20px;
  margin-top: 3%;
  text-shadow: 0 0 18px #f01506;
}
.stat h3{
  color: #9F1E16;
  font-size: 20px;
 font-weight: bold;
  
}
h3 i{
  color: gold;
}
/* ______section 2_______ */
.section2{
 width: 100%;
  height: 100vh;
  background-image: url("./images/bg\ 2\ histoire.png");  
  background-attachment:fixed ;
  background-repeat: no-repeat; 
  font-family: Georgia, 'Times New Roman', Times, serif;    
  background-size: cover; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0px;
   
}
 .div2{
  margin-top:10%;
   margin-right: 100px;
 }
.section2 h2{
  text-shadow: 0px 0px 8px  #f4e9e8;
  font-size: 40px;
  color: #9F1E16;
  text-align: center;
}
.section2 p{
  font-size: 30px;
  margin-top: 30px;
  color: white;
  text-align: center;
  width: 500px;  
 
}
.section2 img{
  width: 800px;
  height: 400px;
  margin-top:10%;
}
  