 
*{
  margin: 0;
  padding: 0;
}
/* ______section 1_____ */
 nav{
  width: 100vw;
  height: 10vh;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
 
.nav-container {
  display: flex;
  align-items: center;        
  justify-content: space-around;  
  height: 100%;
}
 nav h3 {
  margin: 0;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 50px;                
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}

nav ul li {
  cursor: pointer;
}

 nav div button{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1px 1px white;
  font-family:'Times New Roman', Times, serif;
 }
 nav div button:hover{
  background-color:rgb(159, 30, 22,0.7) ;;
   
 }
 nav div button:active{
  background-color:#9F1E16;
   
 }
 main {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg\ 1\ histoire.png");  
  background-attachment:fixed ;
  background-repeat: no-repeat; 
  font-family: Georgia, 'Times New Roman', Times, serif;    
  background-size: cover;            
}
.histoire h1{
  font-size: 80px;
  color: white;
  padding: 15% 10% 0% 10%;
}
h1 span{
  color: #9F1E16;
}
.histoire p{
  color: white;
  padding-left: 10%;
  font-size: 35px;
}
.histoire button{
  width: 150px;
  margin: 2% 20%;
  cursor: pointer;
  background-color: #9F1E16;
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  border: 1px solid transparent;
   border-radius: 50px;
   font-size: 20px;
   color: white;
}
.histoire button:hover{
  background-color: rgb(159, 30, 22,0.7);
}
.histoire button:active{
  background-color: #9F1E16;
}
.stat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:transparent;
  margin: 5% 0% 0% 0%;
  padding: 0% 10%;
}
.stat div{
  width: 500px;
  border-style: solid;
  border-color: #9F1E16;
  border-width: 1px 1px 1px 0px;
  text-align: center;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#derniere{
  border-style: solid;
  border-color: #9F1E16;
  border-width: 1px 0px 1px 1px;
}
.stat p{
  font-size: 20px;
  margin-top: 3%;
  text-shadow: 0 0 18px #f01506;
}
.stat h3{
  color: #9F1E16;
  font-size: 20px;
 font-weight: bold;
  
}
h3 i{
  color: gold;
}
/* ______section 2_______ */
.section2{

 width: 100%;
  height: 100vh;
  background-image: url("./images/bg\ 2\ histoire.png");  
  background-attachment:fixed ;
  background-repeat: no-repeat; 
  font-family: Georgia, 'Times New Roman', Times, serif;    
  background-size: cover; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0px;
   
}
 .div2{
  margin-top:10%;
   margin-right: 100px;
 }
.section2 h2{
  text-shadow: 0px 0px 8px  #f4e9e8;
  font-size: 40px;
  color: #9F1E16;
  text-align: center;
}
.section2 p{
  font-size: 30px;
  margin-top: 30px;
  color: white;
  text-align: center;
  width: 500px;  
 
}
.section2 img{
  width: 800px;
  height: 400px;
  margin-top:10%;
}
  

/* _______resposive________ */
/* Grands appareils (ordinateurs de bureau, 992px et plus) */
	@media (min-width : 992px) and (max-width : 1200px) {  
   .histoire h1{
  font-size: 60px;
  padding: 15% 10% 0% 10%;
}
.histoire p{
  font-size: 25px;
}
.stat{
  margin: 5% 0% 5% 0%;
 
}
  }
 
/* Appareils de taille moyenne (tablettes, 768px et plus) */
	@media (min-width : 768px) and (max-width : 992px) {
      
.section2 h2{
   
  font-size: 30px;
  
} 
.section2 p{
 font-size: 20px;
  
  width: 300px;  
 
}
.section2 img{
  width: 600px;
  height: 200px;
  margin-top:20%;
}
  }

  /* Petits appareils (téléphones à écran plat, 576px et plus) */
@media (min-width: 576px) and (max-width: 768px) {
  nav{
  font-size: 20px;
  }
  .histoire h1{
  font-size: 30px;
  padding: 15% 10% 0% 10%;
}
 
  .section2 h2{
   
  font-size: 15px;
  
} 
.section2 p{
 font-size: 15px;
  
  width: 200px;  
 
}
.section2 img{
  width: 400px;
  height: 200px;
  margin-top:20%;
}
 
 .stat p{
  font-size: 15px;
   
}
 
}

/* Extra small devices (moins de 576px) */
@media (max-width: 576px) {
   nav{
   
  font-size: 15px;
  }
   .histoire h1{
  font-size: 30px;
  padding: 15% 10% 0% 10%;
}
  
  
  .section2 h2{
   
  font-size: 15px;
  
} 
.section2 p{
 font-size: 10px;
  
  width: 200px;  
 
}
.section2 img{
  width: 200px;
  height: 100px;
  margin-top:20%;
}
 
 .stat p{
  font-size: 15px;
   
}
 .histoire h1{
  font-size: 20px;
 
 }
 .histoire p{
  font-size: 15px;
 }
 .stat p{
  font-size: 10px;
   
}
.stat h3{
  font-size: 10px;
}
 }
