@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Boldonse&family=Dancing+Script:wght@400..700&family=Edu+SA+Hand:wght@400..700&family=Gravitas+One&family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
}
/* _____nav bar __________ */
nav{
  width: 100vw;
  height: 10vh;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: "Bitcount Grid Double", system-ui;
}
 
.nav-container {
  display: flex;
  align-items: center;        
  justify-content: space-around;  
  height: 100%;
}
 nav h3 {
  margin: 0;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 50px;                
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}

nav ul li {
  cursor: pointer;
}

 nav div button{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1px 1px white;
  font-family: "Bitcount Grid Double", system-ui;
 }
 nav div button:hover{
  background-color:rgb(230, 187, 123,0.7) ;
   
 }
 nav div button:active{
  background-color: rgb(110, 75, 24);
   
 }
/* ________hero section _________ */
.hero-section img{
  position: fixed;
  width: 100vw;
  height: 100vh;
 }
 .button-container {
  position: absolute;
  bottom: 15%;          
  left: 50%;              
  transform: translateX(-50%);  
  display: flex;          
  gap: 20px;  
              
}
.button-container button {
  padding: 5px;
  font-size: 30px;   
  background-color:#010101;
  color: antiquewhite;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px #ebd6C8, 0 0 20px #ebd6C8, 0 0 30px #ebd6C8;
  font-family: "Bitcount Grid Double", system-ui;
  transition: 0.3s;
}
.button-container button:hover{
  background-color: rgb(54, 39, 16);
   
 }
.button-container button:active{
  background-color: rgb(110, 75, 24); 
 }
 
  
