*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100vw;
  height: 10vh;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.nav-container {
  display: flex;
  align-items: center;        
  justify-content: space-around;  
  height: 100%;
}

nav h3 {
  margin: 0;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 50px;                
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

nav ul li {
  cursor: pointer;
}

nav div button{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1px 1px white;
  font-family: 'Times New Roman', Times, serif;
}

nav div button:hover{
  background-color: rgba(230, 148, 123, 0.7);
}

nav div button:active{
  background-color: rgb(110, 75, 24);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg 2 histoire.png");  
  background-attachment: fixed;
  background-repeat: no-repeat; 
  font-family: Georgia, 'Times New Roman', Times, serif;    
  background-size: cover; 
}

.boutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.boutton button{
  width: 50%;
  background-color: #9F1E16;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 1px solid wheat;
 
  cursor: pointer;
}

.boutton button:hover{
  background-color: rgba(159, 30, 22, 0.7);
}

.video-container iframe {
  margin-top: 20px;
  width: 100vw;
  height: 80vh;
  border: none;
}